.App {
  text-align: center;
  height: 100%;
}

button {
    border: 1px solid #444;
    padding: 10px 30px;
    margin: 20px 10px;
    cursor: pointer;
    background-color: #fff;
    color: #444;
}
button:hover {
    color: #fff;
    background-color: #06a;
}